{% extends "base.html" %}
{% block title %}Quên mật khẩu{% endblock %}

{% block content %}
<div class="auth-card">
  <h2>Quên mật khẩu</h2>

  <form
    hx-post="/forgot-password"
    hx-target="#forgot-msg"
    hx-swap="innerHTML"
  >
    <label>Email đã đăng ký</label>
    <input type="email" name="email" required>

    <button>Gửi yêu cầu</button>
  </form>

  <div id="forgot-msg" class="msg"></div>

  <p class="form-links">
    <a href="/login">Quay lại đăng nhập</a>
  </p>
</div>
{% endblock %}
