{% extends "base.html" %}
{% block title %}Đăng nhập{% endblock %}

{% block content %}
<div class="auth-card">
  <h2>Đăng nhập</h2>

  <form
    hx-post="/login"
    hx-target="#login-msg"
    hx-swap="innerHTML"
  >
    <label>Email</label>
    <input name="username" type="email" required>

    <label>Mật khẩu</label>
    <input name="password" type="password" required>

    <button>Đăng nhập</button>
  </form>

  <div id="login-msg" class="msg"></div>

  <p class="form-links">
    <a href="/register">Tạo tài khoản mới</a>
  </p>
</div>
{% endblock %}
